@{
    ViewData["Title"] = "นโยบายความเป็นส่วนตัว";
}

<div class="container py-5">
    <h1>นโยบายความเป็นส่วนตัว</h1>

    <div class="card mt-4">
        <div class="card-body">
            <h5>1. ข้อมูลที่เราเก็บ</h5>
            <ul>
                <li>ชื่อ-นามสกุล</li>
                <li>อีเมล</li>
                <li>เบอร์โทรศัพท์</li>
                <li>ประวัติการจอง</li>
            </ul>

            <h5 class="mt-4">2. การใช้ข้อมูล</h5>
            <p>เราใช้ข้อมูลของคุณเพื่อ:</p>
            <ul>
                <li>ดำเนินการจองโต๊ะ</li>
                <li>ส่งการแจ้งเตือน</li>
                <li>ปรับปรุงบริการ</li>
            </ul>

            <h5 class="mt-4">3. การรักษาความปลอดภัย</h5>
            <p>เราใช้มาตรการรักษาความปลอดภัยระดับสูงเพื่อปกป้องข้อมูลของคุณ</p>

            <h5 class="mt-4">4. ติดต่อเรา</h5>
            <p>หากมีคำถาม กรุณาติดต่อ privacy@barbooking.com</p>
        </div>
    </div>
</div>
